avi_username              = "{{ avi_username }}"
avi_password              = "{{ avi_password }}"
avi_cluster_name          = "{{ avi_cluster_name }}"
avi_cluster_vip           = "{{ avi_cluster_vip }}"
avi_ip_controller01       = "{{ avi_ip_controller01 }}"
avi_ip_controller02       = "{{ avi_ip_controller02 }}"
avi_ip_controller03       = "{{ avi_ip_controller03 }}"
avi_hostname_controller01 = "{{ avi_hostname_controller01 }}"
avi_hostname_controller02 = "{{ avi_hostname_controller02 }}"
avi_hostname_controller03 = "{{ avi_hostname_controller03 }}"
avi_version               = "{{ avi_version }}"
ip_type                   = "{{ ip_type }}"
avi_dns_server_ips        = {{ avi_dns_server_ips }}
avi_ntp_server_ips        = {{ avi_ntp_server_ips }}
default_license_tier      = "{{ default_license_tier }}"
disable_tls               = {{ disable_tls }}
from_email                = "{{ from_email }}"
mail_server_name          = "{{ mail_server_name }}"
mail_server_port          = {{ mail_server_port }}
smtp_type                 = "{{ smtp_type }}"
banner                    = "{{ banner }}"
search_domain             = "{{ search_domain }}"