vsphere_server              = "{{ vcenter_url }}"
vsphere_user                = "{{ vcenter_username }}"
vsphere_password            = "{{ vcenter_password }}"
vsphere_datacenter          = "{{ vcenter_datacenter }}"
content_library             = "{{ vcenter_content_library }}"
vm_datastore                = "{{ vm_datastore }}"
vm_template                 = "{{ vm_template }}"
name_prefix                 = "{{ name_prefix }}"
avi_version                 = "{{ avi_version }}"
vm_folder                   = "{{ vm_folder }}"
vm_resource_pool            = "{{ vm_resource_pool }}"
controller_default_password = "{{ avi_default_password }}"
controller_password         = "{{ avi_password }}"
controller_mgmt_portgroup   = "{{ controller_mgmt_portgroup }}"
controller_ip               = {{ controller_ip }}
controller_netmask          = "{{ controller_netmask }}"
controller_gateway          = "{{ controller_gateway }}"