avi_username         = "{{ avi_username }}"
avi_default_password = "{{ avi_default_password }}"
avi_password         = "{{ avi_password }}"
avi_ip_controller01  = "{{ avi_ip_controller01 }}"
avi_ip_controller02  = "{{ avi_ip_controller02 }}"
avi_ip_controller03  = "{{ avi_ip_controller03 }}"
avi_version          = "{{ avi_version }}"